@charset "utf-8";

/*import.css*/
/*今回はこのファイルに連続で記述する*/
/* Layouts
========================================== */

/* contents
========================================== */

/*reset.css*/
/* =======================================
    Browser Reset CSS
    Last Up Date 2014/12/08
========================================== */

body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
p,blockquote,table,th,td {margin: 0; padding: 0;}

html,body {background: #FFF; color: #000;}

body {font:13px/1 "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;}
* html body {font-size: small;}
*:first-child+html body {font-size: small;}

img {border: 0; vertical-align: top;}

h1,h2,h3,h4,h5,h6 {clear: both; font-size: 100%; font-weight: normal;}

ul,dl,ol {text-indent: 0;}
li {list-style: none;}

address,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal;}

sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}

input,textarea,select {font-family: inherit; font-size: inherit; font-weight:inherit;}
* html input,* html textarea,* html select {font-size: 100%;}
*:first-child+html+input,*:first-child html+textarea,*:first-child+html select {font-size: 100%;}

table {border-collapse: collapse; border-spacing: 0; font-size: inherit;}
th,td {text-align: left; vertical-align: top;}
caption {text-align: left;}

pre,code,kbd,samp,tt {font-family: monospace;}
* html pre,* html code,* html kbd,* html samp,* html tt {font-size: 100%; line-height: 100%;}
*:first-child+html pre,*:first-child html+code,*:first-child html+kbd,*:first-child+html+samp,*:first-child+html tt {font-size: 108%; line-height: 100%;}

input,select,textarea {font-size: 100%; font-family: Verdana, Helvetica, sans-serif;}

/*structure.css*/
/* =======================================
    structure CSS
========================================== */

html {

}

body {
    background-color: white;
}

#wrapper {
    background-color: whitesmoke;
    margin: 10px;
    border: 1px black solid;
}

/*header.css*/
/* =======================================
    header CSS
========================================== */
#header {
    background-color: gainsboro;
}

#header #siteTitle {
    background-color: lightgrey;
    font-size: xx-large;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header #headerNaviSection {
    padding-top: 10px;
}

#header #headerNaviSection #headerNavi .headerNaviSectionList {
    float: left;
    font-size: x-large;
    width: 33.3%;
}

#header #headerNaviSection #headerNavi #backMonth {
    text-align: left;
}

#header #headerNaviSection #headerNavi #thisMonth {
    text-align: center;
}

#header #headerNaviSection #headerNavi #nextMonth {
    text-align: right;
}


#header #headerNaviSection .clearFix {
    clear: both;
}

/*contents.css*/
/* =======================================
    contents CSS
========================================== */
#contents {
    background-color: whitesmoke;
}

/*カレンダー*/

#contents #calendar  {
    /*height: 300px;*/
}

#contents #calendar #calendarTable {
    background-color: white;
    width: 100%;
    /*height: 100%;*/
    border-collapse: collapse;
    font-size: medium;
}

#contents #calendar #calendarTable #calendarCaption {
    display: none;
}

#contents #calendar #calendarTable #calendarThead {

}

#contents #calendar #calendarTable #calendarThead #calendarWeeks {
    /*height: 100px;*/
    border-bottom: 1px black solid;
}

#contents #calendar #calendarTable #calendarThead #calendarWeeks .calendarTheadTh {
    width: 14%;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contents #calendar #calendarTable #calendarTbody .calendarDays {
}

#contents #calendar #calendarTable #calendarTbody .calendarDays .calendarTbodyTd {
    text-align: center;
    border-bottom: 1px black solid;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*予約表*/

#contents #bookingConf {

}

#contents #bookingConf #bookingConfTable {
    /*background-color: white;*/
    width: 100%;
    /*height: 100%;*/
    border-collapse: collapse;
    font-size: medium;
}

#contents #bookingConf #bookingConfTable #bookingConfCaption {
    display: none;
}

#contents #bookingConf #bookingConfTable #bookingConfThead {

}

#contents #bookingConf #bookingConfTable #bookingConfThead #bookingConfWeeks {
    /*height: 100px;*/
    border-bottom: 1px black solid;
}

#contents #bookingConf #bookingConfTable #bookingConfThead #bookingConfWeeks .bookingConfTheadTh {
    width: 14%;
    border-right: 1px black solid;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contents #bookingConf #bookingConfTable #bookingConfThead #bookingConfWeeks .bookingConfTheadThRight {
    width: 14%;
    /*border-right: 1px black solid;*/
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contents #bookingConf #bookingConfTable #bookingConfTbody .bookingConfDays {
}

#contents #bookingConf #bookingConfTable #bookingConfTbody .bookingConfDays .bookingConfTbodyTd {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contents #bookingConf #bookingConfTable #bookingConfTbody .bookingConfDays .bookingConfTbodyTdRight {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px black solid;
    /*border-right: 1px black solid;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

/*footer.css*/
/* =======================================
    footer CSS
========================================== */
#footer {
    background-color: gainsboro;
}

#footer #copyright {
    background-color: lightgrey;
    font-size: large;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* -----.css*/
/* =======================================
    ----- CSS
========================================== */
/*開発で利用するスタイルシートのタグ*/
/*color*/
    /*black       #000000*/
    /*dimgray     #696969*/
    /*gray        #808080*/
    /*darkgray    #a9a9a9*/
    /*silver      #c0c0c0*/
    /*lightgrey   #d3d3d3*/
    /*gainsboro   #dcdcdc*/
    /*whitesmoke  #f5f5f5*/
    /*white       #ffffff*/

/*font-size*/
    /*xx-large 36*/
    /*x-large  24*/
    /*large    18*/
    /*medium   14*/
    /*small    13*/
    /*x-small  12*/
    /*xx-small 11*/
